.Products {
    padding: 6rem 0rem;
    width: 100%;
    background-color: #1a667a;
}

.Products-main {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.Products-main h2{
   color: white;
}
.Products-main span{
    -webkit-text-stroke: 0.5px white;
}

.Products-box {
    display: flex;
    gap: 2rem;
}

.product-box-left{
    width: 50%;
}
.product-box-left h2{
    font-size: 30px;
    font-weight: 500;
}
.product-box-left p{
    color: white;
}
.product-box-left h2:after {
    content: "";
    margin-top: 2px;
    display: flex;
    height: 2px;
    width: 20%;
    border-radius: 50px;
    background-color: white;
  }
.product-box-right{
    width: 50%;
}
.product-box-right img{
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

@media (min-width: 1200px) {
    .Products-main {
        max-width: 1140px;
    }
}

@media only screen and (max-width: 680px) {
    .Products-box {
        flex-wrap: wrap;
    }
    .product-box-left{
        width: 100%;
        order: 2;
    }
    .product-box-right{
        width: 100%;
        order: 1;
    }
}