.Footer {
  padding: 5rem 0 0 0;
  width: 100%;
  position: relative;
  background-color: #f8f7f5;
}

.Footer-main,
.footer-down {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  gap: 2rem;
  position: relative;
  z-index: 2;
}

.footer-detail-box {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #adadad;
  padding-bottom: 2rem;
}

.footer-down {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 3rem; */
  padding: 15px 0;
}

.footer-left img {
  width: 50%;
  margin-bottom: 1rem;
}

.footer-right-box {
  width: 80%;
}

.footer-right-quick {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-bottom: 1rem; */
}

.footer-right-quick h2 {
  font-size: 18px;
  margin-bottom: 1rem;
  padding-right: 30px;
}

.footer-right-quick h2:after {
  content: "";
  background-color: #1a667a;
  display: flex;
  height: 2px;
  width: 50%;
  margin-top: 5px;
}

.footer-right-quick ul {
  display: flex;
  padding: 0;
  margin-bottom: 1rem;

}

.footer-right-quick ul li {
  display: flex;
  align-items: center;
  padding: 8px;
}

.footer-right-quick ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.footer-right-quick ul li a svg {
  margin-right: 10px;
  font-size: 20px;
}

.footer-right-quick ul li a:hover {
  text-decoration: none;
  color: #1a667a;
}
.footer-right-quick p{
  text-align: center;
}

.footer-copyright p {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

@media (min-width: 1200px) {
  .Footer-main {
    max-width: 1140px;
  }

  .footer-down {
    max-width: 1140px;
  }
}

@media only screen and (max-width: 990px) {
  .Footer-main {
    max-width: 720px;
  }
}

@media only screen and (max-width: 680px) {
  .footer-down {
    flex-direction: column;
    gap: 15px;
  }

  .Footer-main {
    gap: 0;
    display: block;
  }

  .footer-left {
    width: 100%;
  }

  .footer-left a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-left img {
    width: 50%;
  }

  .Footer-main {
    max-width: 520px;
  }
  .footer-detail-box {
    grid-template-columns: repeat(1,1fr);
    padding-top: 2rem;
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 420px) {
  .Footer {
    padding: 2rem 0 0 0;
  }

  .footer-right-quick h2:after {
    width: 100%;
  }

  .footer-right-quick {
    align-items: center;
  }

  .footer-right-quick ul {
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer-right-quick ul li {
    padding-bottom: 5px;
  }

  .footer-copyright {
    justify-content: center;
  }

  .footer-copyright p {
    font-size: 12px;
  }
}