.Nutrition {
    padding: 6rem 0rem;
    width: 100%;
    background-color: #1a667a;
}

.Nutrition-main {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.Nutrition-box {
    display: flex;
    gap: 2rem;
}

.nutrition-left {
    width: 30%;
}

.nutrition-mid {
    width: 40%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nutrition-mid-desc {
    position: absolute;
    bottom: 5%;
}

.nutrition-mid-desc .nutrition-mid-desc-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid rgba(184, 184, 184, 0.67);
    background-color: rgba(0, 0, 0, 0.37);
}
.nutrition-mid-desc .nutrition-mid-desc-box h4{
    font-size: 40px;
    font-weight: 800;
    color: white;
    position: relative;
    z-index: 2;
    text-align: center;
}
.nutrition-mid-desc .nutrition-mid-desc-box p{
    font-size: 20px;
    margin: 0;
    color: white;
}

.nutrition-mid img {
    width: 85%;
    position: relative;
    z-index: 2;
}

/* .nutrition-mid:after {
    content: '';
    background-color: white;
    border-radius:  51% 49% 49% 51% / 50% 49% 51% 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    z-index: 1;
} */

.nutrition-right {
    width: 30%;
}

@media (min-width: 1200px) {
    .Nutrition-main {
        max-width: 1140px;
    }
}

@media only screen and (max-width: 680px) {
    .Nutrition-box {
        flex-wrap: wrap;
        gap: 0;
    }
    
    .nutrition-left{
        order: 2;
        width: 100%;
    }
    .nutrition-mid {
        order: 1;
        width: 100%;
    }
    .nutrition-mid img {
        width: 100%;
        bottom: 25%;
    }
    .nutrition-right {
        order: 3;
        width: 100%;
    }
}